<div class="time">
    <div class="close">
        <md-button class="md-fab md-mini md-primary" ng-click="onRemove(parciais.time.slug)">&times;</md-button>
    </div>
    <div class="escudo">
        <img ng-src="{{parciais.time.escudo}}" alt="nothing-here">
    </div>
    <div class="nome-time">
        <span class="nome md-display-1">{{parciais.time.nome}}</span>
        <span class="cartola md-subhead">{{parciais.time.cartola}}</span>
    </div>
    <hr>
    <div class="pontuacao" layout-gt-sm="row" layout="column">
        <div flex>
            <h3 hide show-gt-sm>Patrimônio</h3>
            <span class="valor">{{parciais.time.patrimonio | currency:'C$ ':'2'}}</span>
        </div>
        <div flex>
            <h3 hide show-gt-sm>Pontuação</h3>
            <span class="valor">{{parciais.time.total | number:'2'}}</span>
        </div>
    </div>
</div>
<div class="jogadores">
    <md-list>
        <md-list-item ng-repeat="jogador in parciais.jogadores">
            <div class="jogador md-body-1">
                <strong>{{jogador.posicao | uppercase}}</strong>
                <span>{{jogador.nome}} ({{jogador.time}})</span>
                <strong class="pts">{{jogador.pontuacao|number:'1'}}</strong>
            </div>
        </md-list-item>
    </md-list>
</div>