<md-dialog aria-label="Resultado da pesquisa" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Resultado da Pesquisa</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="time in times" ng-click="answer(time.slug)">
                    <img ng-src="{{time.url_escudo_svg}}" alt="{{time.nome}}" class="md-avatar"/>
                    <div class="md-list-item-text" layout="column">
                        <h3>{{time.nome}}</h3>
                        <h4>{{ time.nome_cartola }}</h4>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </md-dialog-content>
</md-dialog>